@import "tailwindcss";

@theme {
  --color-deep-cerulean: #006DB4;
  --color-deep-cerulean-dark: #0059A0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* margin: 0;
  display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

/* Custom global styles */
.p-button {
  @apply bg-gray-100 border-gray-100 text-deep-cerulean;
}

.p-button:hover {
  @apply bg-gray-200 border-gray-200;
}

.p-button.p-button-secondary
{
  @apply bg-deep-cerulean border-deep-cerulean text-gray-100;
}

.p-button.p-button-secondary:hover {
  @apply bg-deep-cerulean-dark border-deep-cerulean-dark ;
}

.p-button.p-button-danger.p-button-text
{
  @apply bg-transparent border-transparent text-deep-cerulean;
}

.p-button.p-button-danger.p-button-text:hover {
  @apply bg-gray-100 border-gray-100;
}